
body 
{
    font-size: 40px;
    font-style: italic;
    background-color: whitesmoke;
    direction: rtl;
}

.אריה {
    font-size: 30px;
    color: yellow;
    font-style: italic;
}
.פיל {
    font-size: 30px;
    color: grey;
    font-style: italic;
}
.ציטה {
    font-size: 30px;
    color: sandybrown;
    font-style: italic;
}
.animal-img {
    float: right;
    margin: 5px;
    width: 260px;
    text-align: center;
}
.hzor {
    text-align: center;
}

