body {
    font-size: 40px;
    font-style: italic;
    background-color: lightgoldenrodyellow;
    direction: rtl;
}

div {
    text-align: center;
}

h1 {
    color: lightyellow;
    font-size: 60px;
    text-align: center;
}

.citapic {
    float: right;
    width: 470px;
    height: 550px;
}
